body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.tokkoro.com/picsup/2842221-pacman-video-games-simple-colorful-classics-black-background___game-wallpapers.jpg);
}

#header {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: black;
    color:white;
}

.header {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.paragraph {
    text-align: center;
}

}
