body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://www.bing.com/images/search?view=detailV2&id=E2392E4994AC9FFDF769E50DBE74B49B592A90B5&thid=OIP.5B0ie_6LI7hWqdt4KT_DtAHaEK&mediaurl=https%3A%2F%2Fwww.tokkoro.com%2Fpicsup%2F2842221-pacman-video-games-simple-colorful-classics-black-background___game-wallpapers.jpg&exph=1080&expw=1920&q=Pacman+4k+res&selectedindex=10&ajaxhist=0&vt=0&eim=0,1,2,3,4,6,8,10");
}

#header {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: White;
}

.header {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.paragraph {
    text-align: center;
}