body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
}

#header {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: White;
}

.header {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.paragraph {
    text-align: center;
}