@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
    height: 100%;
    font-family: 'roboto';
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
}

#header .header {
    text-align: center;
}

#header .subtitle {
    text-align: center;
}

#header .paragraph {
    text-align: center;
}

#header button {
    border: none;
    padding: 1%;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
}

#header button a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#body {
    padding-top: 1%;
    margin-top: 20%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    padding-bottom: 1%;
}

#body p {
    margin-left: 30%;
    margin-right: 30%;
}

#helpers {
    padding-top: 1%;
}

#helpers a {
    text-decoration: none;
    color: white;
}